# Importing Libraries

In [1]:
# Import library

import pandas as pd
import numpy as np
import pickle
import json
from tensorflow.keras.models import load_model

import warnings
warnings.filterwarnings('ignore')

c:\Users\abisu\miniconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\Users\abisu\miniconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
c:\Users\abisu\miniconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.23-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

# Loading Files

In [2]:
# Load all files

with open('list_num_cols.txt', 'r') as file_1:
  list_num_cols = json.load(file_1)

with open('list_cat_cols_1.txt', 'r') as file_2:
  list_cat_cols_1 = json.load(file_2)
  
with open('list_cat_cols_2.txt', 'r') as file_3:
  list_cat_cols_2 = json.load(file_3)
  
with open('model_scaler.pkl', 'rb') as file_4:
  scaler = pickle.load(file_4)

with open('model_encoder_1.pkl', 'rb') as file_5:
  ohe_1 = pickle.load(file_5)
  
with open('model_encoder_2.pkl', 'rb') as file_6:
  label_enc = pickle.load(file_6)

# Load Model

model = load_model('model_sequential_improvement.h5', compile=False)

# Creating Data

In [6]:
#Create new data

data_inf = {
    'age'               : 28,
    'job'               : 'management',
    'marital'           : 'single',
    'education'         : 'tertiary',
    'default'           : 'no',
    'balance'           : 1631,
    'housing'           : 'no',
    'loan'              : 'yes',
    'contact'           : 'cellular',
    'duration'          : 490,
    'campaign'          : 7,
    'pdays'             : 38,
    'previous'          : 8,
    'poutcome'          : 'success'
}

#data_inf = pd.DataFrame([data_inf])
data_inf = pd.DataFrame([data_inf])
data_inf

,age,job,marital,education,default,balance,housing,loan,contact,duration,campaign,pdays,previous,poutcome
0,28,management,single,tertiary,no,1631,no,yes,cellular,490,7,38,8,success

# Splitting data

In [7]:
# Split between numerical columns and categorical columns

data_inf_num   = data_inf[list_num_cols]
data_inf_cat_1 = data_inf[list_cat_cols_1]
data_inf_cat_2 = data_inf[list_cat_cols_2]

In [8]:
data_inf_num

   age  balance  duration  campaign
0   28     1631       490         7

In [9]:
data_inf_cat_1

          job marital education   contact poutcome
0  management  single  tertiary  cellular  success

In [10]:
data_inf_cat_2

  default housing loan
0      no      no  yes

# Feature Scaling & Encoding

In [11]:
# Feature scaling and feature encoding

data_inf_num_scaled    = scaler.transform(data_inf_num)

In [12]:
data_inf_cat_encoded_1 = ohe_1.transform(data_inf_cat_1)

In [13]:
data_inf_cat_encoded_1

array([[0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        0., 1., 0., 1., 0., 0., 0., 0., 1., 0.]])

In [14]:
data_inf_cat_encoded_2 = data_inf_cat_2
data_inf_cat_encoded_2['default'] = label_enc.transform(data_inf_cat_2['default'])
data_inf_cat_encoded_2['housing'] = label_enc.transform(data_inf_cat_2['housing'])
data_inf_cat_encoded_2['loan'] = label_enc.transform(data_inf_cat_2['loan'])

In [15]:
data_inf_final = np.concatenate([data_inf_num_scaled, data_inf_cat_encoded_1, data_inf_cat_encoded_2], axis = 1)

# Prediction

In [16]:
# Predict using Model Functional Improvement 

y_pred_inf_model = pd.DataFrame(model.predict(data_inf_final))
y_pred_inf_model = np.where(y_pred_inf_model >= 0.5, 'no', 'yes')
y_pred_inf_model

1/1 [==============================] - 0s 338ms/step

array([['no']], dtype='<U3')